<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bit2016.createactivity">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity"> <!--이거은 액션이 있어서 불러 쓸수 있다.-->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".NewActivity"></activity> 
        <!-- action이 없으니 외부에서 실행을 못시킴 내부에서만 호출할수 있음. 외부에서 쓸려면 action 을 해줘야 한다. -->
    </application>

</manifest>